<footer class="footer">
  	<span><a href="https://www.instagram.com/cammiescooks/">My Cooking Insta 🌱</a> | <a href="https://www.linkedin.com/in/cammies/">LinkedIn 👔</a> | <a href="https://github.com/acammies/cammiesweb"> GitHub 🖥️</a></span>
    <p>&copy; Aidan Cammies {% year %}</p>
  </footer>