<section class="projects">
  <h2 class="project__heading">Recent projects</h2>
  <div class="project-grid">
    {% asyncEach post in collections.posts %}
      {% include "post-card.njk" %}
    {% endeach %}
  </div>
</section>