<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Aidan Cammies Profile Picture", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Aidan</span>, a techie consultant turned project manager working for Red Hat.</p>
    <p class="profile__text">Welcome to acammies.com! 😊  I created this site to be a home for all of the wild and varied things I love to chat about! Including but not limited to: Mental Health/Neurodiversity, Agile ways of work, ADHD, productivity/self-improvement, technical posts, and anything else that can help to make our lives and the world a better place.
As with most things in life, this site is a work in progress and I'd love any feedback (head to the contact section or open an issue on GitHub).
Hope you have a wonderful day, Aidan</p>
    <p class="profile__text">Click here to <a class="profile__link" href="/contact">get in touch</a>.<p>
  </div>
</section>